name: Release

on:
  push:
    tags:
    - '*'

jobs:
  build-windows:
    name: Windows
    runs-on: windows-2022
    env:
      BOOST_ROOT: C:\thirdparties\boost-1.83.0
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Install OpenSSL
        run: choco install openssl

      - name: Install curl
        run: |
          choco install curl -y

      - name: Download and Install Boost 1.83
        run: |
          $Url = "https://sourceforge.net/projects/boost/files/boost-binaries/1.83.0/boost_1_83_0-msvc-14.3-64.exe"
          $OutputPath = "C:\\Users\\runneradmin\\AppData\\Local\\Temp\\boost-installer.exe"
          curl -L $Url -o $OutputPath
          Start-Process -Wait -FilePath $OutputPath "/SILENT","/SP-","/SUPPRESSMSGBOXES","/DIR=C:\\thirdparties\\boost-1.83.0"

      - name: Build
        shell: powershell
        id: build
        run: |
          $build_folder = "build"
          $krb_ver = "${{ github.ref }}" -replace 'refs/tags/'
          $release_name = "Karbo-cli-win64-$krb_ver"
          mkdir "$build_folder"
          cd "$build_folder"
          cmake -G "Visual Studio 17 2022" -A x64 -DBOOST_ROOT="$env:BOOST_ROOT" -DBOOST_INCLUDE_DIRS="$env:BOOST_ROOT/include" ..
          msbuild Karbowanec.sln /p:Configuration=Release /m /v:detailed
          cd src\Release
          Compress-Archive -Path *.exe -DestinationPath "$release_name.zip"
          $sha256 = (Get-FileHash "$release_name.zip").Hash
          $asset_path = "./$build_folder/src/Release/$release_name.zip"
          echo "sha256=${sha256}" >> $env:GITHUB_OUTPUT
          echo "release_name=${release_name}.zip" >> $env:GITHUB_OUTPUT
          echo "asset_path=${asset_path}" >> $env:GITHUB_OUTPUT
          echo "krb_ver=${krb_ver}" >> $env:GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.build.outputs.asset_path }}
          name: Karbo CLI Suite ${{ steps.build.outputs.krb_ver }}
          append_body: true
          body: |
            [Download for Windows](../../releases/download/${{ steps.build.outputs.krb_ver }}/${{ steps.build.outputs.release_name }}) `SHA256: ${{ steps.build.outputs.sha256 }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-macos-arm64:
    name: macOS 15 (ARM64)
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Boost (ARM64)
        uses: MarkusJx/install-boost@v2
        id: install-boost
        with:
          boost_version: 1.86.0
          platform: macos
          platform_version: 15
          toolset: clang
          arch: aarch64

      - name: Build
        id: build
        run: |
          set -e

          BOOST_ROOT="${{ steps.install-boost.outputs.BOOST_ROOT }}"
          Boost_INCLUDE_DIR="$BOOST_ROOT/include"
          Boost_LIBRARY_DIR="$BOOST_ROOT/lib"

          build_folder="build"
          krb_ver="${GITHUB_REF#refs/tags/}"
          release_name="Karbo-cli-macOS-ARM64-$krb_ver"

          brew install openssl@3
          brew link openssl@3 --force

          mkdir -p "$build_folder"
          cd "$build_folder"

          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_OSX_ARCHITECTURES=arm64 \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=11.0 \
            -DOPENSSL_USE_STATIC_LIBS=ON \
            -DBOOST_ROOT="$BOOST_ROOT" \
            -DBoost_INCLUDE_DIR="$Boost_INCLUDE_DIR" \
            -DBoost_LIBRARY_DIR="$Boost_LIBRARY_DIR" \
            -DBoost_NO_SYSTEM_PATHS=ON \
            -DBoost_USE_STATIC_LIBS=OFF \
            -DBoost_COMPILER=-clang \
            -DBoost_ARCHITECTURE=-a64 \
            -DBoost_THREADAPI=pthread

          make -j$(sysctl -n hw.ncpu)

          mkdir "$release_name"
          exeFiles=()
          for f in src/*; do
            [[ -x $f && -f $f ]] && strip "$f" && exeFiles+=( "$f" )
          done

          cp "${exeFiles[@]}" "$release_name/"
          zip -r "$release_name.zip" "$release_name"

          sha256=$(shasum -a 256 "$release_name.zip" | awk '{print toupper($1)}')

          echo "sha256=$sha256" >> $GITHUB_OUTPUT
          echo "release_name=$release_name.zip" >> $GITHUB_OUTPUT
          echo "asset_path=$build_folder/$release_name.zip" >> $GITHUB_OUTPUT
          echo "krb_ver=$krb_ver" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.build.outputs.asset_path }}
          name: Karbo CLI Suite ${{ steps.build.outputs.krb_ver }}
          append_body: true
          body: |
            [Download for macOS ARM64](../../releases/download/${{ steps.build.outputs.krb_ver }}/${{ steps.build.outputs.release_name }})  
            `SHA256: ${{ steps.build.outputs.sha256 }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-ubuntu24:
    name: Ubuntu 24.04
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Build
        id: build
        run: |
          sudo apt-get update && sudo apt-get install -y libboost-all-dev
          build_folder="build/release"
          krb_ver=$(echo "$GITHUB_REF" | sed 's|refs/tags/||')
          release_name=Karbo-cli-ubuntu24.04-"$krb_ver"
          mkdir -p "$build_folder"
          cd "$build_folder"
          cmake -D ARCH=default -D CMAKE_BUILD_TYPE=Release -D CMAKE_POSITION_INDEPENDENT_CODE:BOOL=true -D BOOST_IGNORE_SYSTEM_PATHS_DEFAULT=ON -D BOOST_ROOT=/usr ../..
          make
          cd src
          exeFiles=()
          for f in ./*; do [[ -x $f && -f $f ]] && exeFiles+=( "$f" ); done
          strip "${exeFiles[@]}"
          tar -czf "$release_name".tar.gz "${exeFiles[@]}"
          mv "$release_name".tar.gz ../
          cd ..
          sha256=$(shasum -a 256 "$release_name".tar.gz | awk '{print toupper($1)}')
          asset_path="./$build_folder/$release_name.tar.gz"
          echo "sha256=${sha256}" >> $GITHUB_OUTPUT
          echo "release_name=${release_name}.tar.gz" >> $GITHUB_OUTPUT
          echo "asset_path=${asset_path}" >> $GITHUB_OUTPUT
          echo "krb_ver=${krb_ver}" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.build.outputs.asset_path }}
          name: Karbo CLI Suite ${{ steps.build.outputs.krb_ver }}
          append_body: true
          body: |
            [Download for Ubuntu 24.04](../../releases/download/${{ steps.build.outputs.krb_ver }}/${{ steps.build.outputs.release_name }}) `SHA256: ${{ steps.build.outputs.sha256 }}`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
